.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade-intro 1s ease-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fade-intro {
  from {
    top: 10vh;
    left: 8vw;
    opacity: 0;
  }
  to {
    opacity: 100%;
    top: 0px;
    left: 0px;
  }
}