:root {
  --color-main: #fc9003;
  --color-second: #d4360e;
  --color-bg: #01377e;
}


body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#waves {
  position: relative;
  background: #4787cf;
  height: 6vh;
}

.wave {
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 75%;
}

.App-logo {
  width: 80vw;
  height: 70vmin;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade-intro 1s ease-out;
  }
}

.App-header {
  background-color: var(--color-bg);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fade-intro {
  from {
    top: 8vh;
    left: 6vw;
    opacity: 0;
  }
  to {
    opacity: 100%;
    top: 0px;
    left: 0px;
  }
}