/*\ MAIN APP CSS
Variables located in StyleProps.js
*/

body, html {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--color-background);
}

#waves {
  position: relative;
  background: var(--color-background-light);
  height: 12vh;
  --wave-opacity: 0.7;
}

.wave {
  width: 100%;
  opacity: var(--wave-opacity);
}

.wave:first-child {
  /* Ensures the sum of all waves reaches 100% */
  opacity: calc(var(--wave-opacity) + calc(calc(1 - var(--wave-opacity)) * var(--wave-opacity)));
}

.App-logo {
  width: 50vmin;
  height: 100%;
  pointer-events: none;
  position: relative;
}

.App-header {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
}

.App-header hr {
  width: 32vmin;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  margin: 4vmin 0px;
}

.App-links {
  width: 50vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-links a {
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
  animation: color-intro 0.6s ease-out;
}

.App-links a:hover, a:focus {
  color: var(--color-secondary);
}

/* ### @MEDIA ### */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade-intro 1s ease-out;
  }

  .App-header hr {
    animation: bar-intro 1.8s ease-out;
  }
}

/* ### ANIMATIONS ### */

@keyframes fade-intro {
  from {
    top: 8vh;
    left: 6vw;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

@keyframes bar-intro {
  0% {
    width: 0px;
    opacity: 0;
  }
  20% {
    width: 0px;
  }
}

@keyframes color-intro {
  from {
    color: var(--color-secondary);
  }
}